*{
    color: beige;
}
h2{
    color:#ffff00;

}
p{
    color:chocolate;
}
button{
    color: cadetblue;
    background-color:bluevioleta5r D;
}
body{
    background-color: black;
}
#headingOne{
    color:fuchsia;
}
#headingThree{
    color: lightcoral;
}
